*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(30, 60, 141);
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor > div{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 4px;
}



.contenedor .contenido {
    grid-column: span 2;
    background-color: rgb(255, 255, 255);
}



.contenedor .widget-1,
.contenedor .widget-2 {
    background-color: rgb(139, 0, 0);
    color: rgb(255, 255, 255);
}

.contenedor .widget-3,
.contenedor .widget-4,
.contenedor .widget-5,
.contenedor .widget-6,
.contenedor .widget-7 {
    background-color: rgb(139, 0, 0);
    color: rgb(255, 255, 255);
}


@media screen and (max-width: 768px) {
    body{
        background-color: rgb(0, 0, 0);
    }

    .contenedor .contenido {
        grid-column: 1 / -1;
    }

    .contenedor .sidebar {
        grid-column: 1/-1;
    }

    .contenedor .widget-1 {
        grid-column: span 2;
    }
}